{% extends 'base.html.twig' %}

{% block title %}Suivre Fiche{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}
{% block body %}
{%include 'visiteur/enteteVisiteur.html.twig'%}
<div class="corp">
    <h1>Selectionner une fiche</h1>
</div>

{% endblock %}