{% extends 'base.html.twig' %}

{% block title %}
    Connexion Comptable
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="wrapper">
        <section style="left: 400px !important; top: 120px !important; right: 400px !important;" class="login-container">
            <div>			
                <header>
                    <img src="/images/gsb.png" alt="" />
                    <h2>Identification Comptable</h2>
                    {% if erreur is defined %}
                        {% if erreur == 1 %}
                        <p>Attention ! Login ou mot de passe incorrect.</p>
                        {% endif %}
                    {% endif %}
                </header>

                {{form(formulaire)}}
            </div>
        </section>
    </div>
{% endblock %}